**PRACTICE QUASTIONS**

In [ ]:
#1.Area of rectangle

In [ ]:
height=int (input('enter a number'))
weidth=int(input('enter a number'))
a =height*weidth
print(a)

enter a number9
enter a number7
63

In [ ]:
#2.Sum,Difference,Product,and,Quotient

In [ ]:
a=int(input('enter a number'))
b=int(input('enter a number'))
s=a+b
d=a-b
p=a*b
q=a/b
print(s)
print(d)
print(p)
print(q)

enter a number10
enter a number2
12
8
20
5.0

In [ ]:
#3.Convert temperature from fahrenheit to clesius and vice versa

In [ ]:
F=float(input(' enter a number'))
C=(F-32)*5/9
print(C)

 enter a number50
10.0

In [ ]:
C=float(input('enter a number'))
f=(C*9/5)+32
print(f)

enter a number30
86.0

In [ ]:
#4. number is positive or negative

In [ ]:
num=int(input('enter a number'))
if a>0:
 print('num is positive')
elif a<0:
 print('num is negative')

enter a number4
num is positive

In [ ]:
#5.write a python function  that determine if a year is a leap year

In [ ]:
y=int(input('enter  the year'))
if y%4==0:
  print("it is a leap year")
elif y%4!=0:
  print("it is not a leap year")
elif y%400==0:
  print("it is a ieap yerar")
elif y%400!=0:
  print ("it is not a leap year ")

enter  the year2004
it is a leap year

In [ ]:
#6.Grad scale

In [ ]:
mark=int(input('enter mark'))
if mark>90:
  print('A')
elif mark>80:
  print('B')
elif mark>70:
  print('C')
elif mark>60:
  print('D')
else:
  print('F')

enter mark0
F

In [ ]:
#7.print 10 to 1

In [ ]:
for num in range (10,0,-1):
 print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#8.print even numbers from 1to 20

In [ ]:
for i in range (2,22,2):
 print (i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#9.Multiplication table

In [ ]:
n=int(input('enter a number'))
for i in range (1,11):
  print(i,'x',i,'=',i*n)

enter a number5
1 x 1 = 5
2 x 2 = 10
3 x 3 = 15
4 x 4 = 20
5 x 5 = 25
6 x 6 = 30
7 x 7 = 35
8 x 8 = 40
9 x 9 = 45
10 x 10 = 50